*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2014/09/25/19/38/primate-460871_1280.jpg);
    line-height: 1.0;

}
.logo{
    font-size: 70px;
    font-weight: 700;
    color: rgb(228, 8, 8);
}
.button{
    background-color:dark rgb(3, 3, 94);
    color: rgb(7, 0, 10);
    height: 70px;
    width: 150px;
    border: 20px;
    padding: 10px 15px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(193, 133, 250);
    color: rgb(0, 0, 0);
}
input{
    width:200px;
    height: 50px;
    text-align: center;
    font-size: 1.3e;
}
#input_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#submit{
    margin-left: 15px;
    margin-top: 2px;

}

#message{
    display: none;
    font-size: 1.5em;
    background-color: rgb(179, 224, 250);
    color: rgb(245, 11, 11);
    padding: 5px 15px;
}

#lives-text{
    font-size: 2em;
    font-weight: 500;
}